{
  "dependencies": {
    "@alchemy/aa-alchemy": "^0.1.0",
    "@alchemy/aa-core": "^0.1.0",
    "next": "^14.0.0",
    "react": "^18.2.0",
    "react-dom": "^18.2.0",
    "viem": "^1.19.9",
    "wagmi": "^1.4.7"
  }
}

